/************

gdstheme
Styles for Xaringan slides with Government Digital Services theme
https://github.com/matt-dray/gdstheme
May 2019

/************

/* Text slide (default) */

.remark-slide-content {
  background-color: #ebebeb;          /* grey background */
  color: #000;                        /* black text */
  border-bottom: 50px solid #2372b6;  /* blue bottom border */
  font-size: 40px;                    /* regular text size */
  padding: 0 60px 0 60px;             /* space on top, left, right, bottom*/
}

/* Heading slide (inverse) */

.inverse {
  background-color: #2372b6;  /* blue background */
  color: #fff;                /* white text*/
  text-shadow: 0 0 0;         /* no text shadow */
  border-bottom: 0;           /* no border */

  font-size: 90px;            /* large text size */
  font-weight: bold;          /* headings are bold */
}

/* Title slide */

.title-slide {
  background-color: #ebebeb;  /* grey background */
  color: #000;                /* black text */
  border-bottom: 0;           /* no border */
  text-shadow: 0 0 0;         /* no text shadow */

  font-size: 50px;            /* intermediate text size */
  font-weight: normal;        /* not bold */
  line-height: 15pt;          /* separation between lines of text */
}

/* Code blocks */

.remark-code {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 1px;
}

/* Inline code */

.remark-inline-code{
  background: #f8f8f8;
  border-radius: 10px;
  padding: 1px;
}

/* Hyperlinks */

a, a > code {
  color: #0009FF;              /* hyperlinks are blue */
  text-decoration: underline;  /* hyperlinks are underlined */
}

/* Slide numbers */

.remark-slide-number {
  display: none;  /* remove them */
}

/* Footnotes */

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}

/* Code highlighting */

.remark-code-line-highlighted { background-color: #ffff88; }

/* Two-column layout */

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

/* Media insertion*/

img, video, iframe {
  max-width: 100%;
}

/* Blockquote */

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* Tables */

.remark-slide table {
  margin: auto;
  width: 100%; 
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.remark-slide table thead th { border-bottom: 1px solid #ddd; }

th, td { padding: 5px; }

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background: #eee
}

/* Extra tags */

.black { color: #000; }       /* black text intended for heading contrast */
.bold { font-weight: bold; }  /* bold for speaker's name on first/last slides */

/* Can leave this alone */

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}